.tours-container{
  height: auto;
  width: 75%;
  margin: auto;
  padding: 50px;
  /* border: 2px solid red; */
}

.img-tour{
  height: 300px;
  width: 350px;
  overflow: hidden;
}

.flex-container{
  display: flex;
  justify-content: space-evenly;
}

.tour-name{
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  font-size: 26px;

}

.tour{
  transition: 1.5s;
}

.tour:hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
  transition: 1s;
}